@model List<AcunMedyaAkademiProtfolio.Models.Tbl_Feature>
    @foreach(var item in Model)
    {




<section id="home" class="main-banner parallaxie" style="background: url('@item.FeatureİmageUrl')">
    <div class="heading">
        <h1>Merhaba Ben @item.FeatureNameSurname</h1>
        <p>"@item.FeatureDescription"</p>
        <h3 class="cd-headline clip is-full-width">
            <span>Ben </span>
            <span class="cd-words-wrapper">
                <b class="is-visible">@item.FeatureProjectName</b>
               
            </span>
        </h3>
    </div>
</section>

    }