@model List<AcunMedyaAkademiProtfolio.Models.Tbl_Project>
@{
    ViewBag.Title = "ProjectList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Projeler Listesi</h2>


<table class="table table-border">
    <tr>
        <th>Proje Id</th>
        <th>Proje Açıklaması</th>
        <th>Proje Resim Yolu</th>
        <th>Proje Categorisi</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProjectId</td>
            <td>@item.Description</td>
            <td><img src="@item.İmageUrl" class="img-fluid" style="width:200px;height:150px"/></td>
            <td>@item.Tbl_Category.CategoryName</td>
            <td><a href="/Project/DeleteProject/@item.ProjectId" class="btn btn-danger">Silme</a></td>
            <td><a href="/Project/UpdateProject/@item.ProjectId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }


</table>
<a href="/Project/CreateProject" class="btn btn-primary">Yeni Proje Girişi</a>

